<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tz.warehouse.bus.mapper.BusRequirementMapper">

    <resultMap id="BaseResultMap" type="com.tz.warehouse.bus.entity.BusRequirement">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="purchaseId" column="purchase_id" jdbcType="BIGINT"/>
            <result property="goodsId" column="goods_id" jdbcType="BIGINT"/>
            <result property="skuNum" column="sku_num" jdbcType="INTEGER"/>
            <result property="skuPrice" column="sku_price" jdbcType="DECIMAL"/>
            <result property="wareId" column="ware_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,purchase_id,goods_id,
        sku_num,sku_price,ware_id,
        status,create_time,update_time
    </sql>
</mapper>
