<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tz.warehouse.sys.mapper.SysLoginfoMapper">

    <resultMap id="BaseResultMap" type="com.tz.warehouse.sys.entity.SysLoginfo">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="loginname" column="loginname" jdbcType="VARCHAR"/>
        <result property="loginid" column="loginid" jdbcType="BIGINT"/>
        <result property="loginip" column="loginip" jdbcType="VARCHAR"/>
        <result property="logintime" column="logintime" jdbcType="TIMESTAMP"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,loginname,loginid,loginip,
        logintime
    </sql>
</mapper>
