<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tz.warehouse.sys.mapper.SysRolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.tz.warehouse.sys.entity.SysRolePermission">
            <id property="pid" column="pid" jdbcType="INTEGER"/>
            <id property="rid" column="rid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        pid,rid
    </sql>
</mapper>
